<template>
  <div>{{ hello }}</div>
</template>

<script>
import { ref } from "vue ";
export default {
  setup() {
    const hello = ref("Ini dari child component");
    return {
      hello,
    };
  },
};
</script>
