<script setup lang="ts">
import { ref, reactive, toRefs, computed, watchEffect, watch } from "vue";
// import UserCom from "./components/Usercomponent.vue";
interface Items {
  id: number;
  label: string;
  purchased: boolean;
  priority: boolean;
}
const header = ref("Shoping List");
const items: Items[] = reactive([
  { id: 1, label: "20 cups", purchased: true, priority: true },
]);
const newItem = ref("");
const editItems = ref(false);
const priority = ref(false);
const reversedItem = computed(() => [...items].reverse());

const editToggle = (value: boolean) => {
  editItems.value = value;
};

const addItems = () => {
  items.push({
    id: items.length + 1,
    label: newItem.value,
    purchased: false,
    priority: priority.value,
  });
  newItem.value = "";
  priority.value = false;
};
const toggleBuy = (item: Items) => {
  item.purchased = !item.purchased;
};
</script>

<template>
  <div class="header">
    <h1>{{ header }}</h1>
    <div class="header-action">
      <button v-if="editItems" class="btn" @click="editToggle(false)">
        Cancel
      </button>
      <button v-else class="btn btn-primary" @click="editToggle(true)">
        Add item
      </button>
    </div>
  </div>

  <form v-if="editItems" @submit.prevent="addItems">
    <input
      class="item-input"
      v-model.trim="newItem"
      type="text"
      placeholder="Add an items"
    />
    <label>
      <input type="checkbox" v-model="priority" />
      High Priority
    </label>
    <button
      v-if="newItem.length"
      :disabled="newItem.length < 6"
      :class="newItem.length < 6 ? 'btn btn-disabled' : 'btn btn-primary'"
    >
      Save items
    </button>
  </form>
  <ul>
    <li
      v-for="item in reversedItem"
      :key="item.id"
      :class="{ strikeout: item.purchased, priority: item.priority }"
      @click="toggleBuy(item)"
    >
      {{ item.label }}
    </li>
  </ul>
  <h1 v-if="!items.length">Nothing to see here</h1>
</template>

<style scoped>
li,
p {
  display: flex;
  align-items: center;
  line-height: 1.75;
  letter-spacing: 0.5px;
  color: #3d4852;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.header {
  display: flex;
}
.header-action {
  align-self: center;
  padding-inline-start: 20px;
}

.btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
}

.btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
}
.btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959, 0 8px 0 -4px #39a2db,
    0 12px 10px -3px #39a2db;
}
.btn-primary {
  color: white;
  background: #37d7ff;
}
.btn-disabled {
  background: grey;
}
.item-input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
  margin-inline-end: 20px;
}
.item-input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
.strikeout {
  text-decoration: line-through;
  color: #b8c2cc;
}
.strikeout:hover {
  color: #8795a1;
}
.priority {
  color: #de751f;
}
</style>
